{% extends '::base.html.twig' %}

{% block body %}
    <ul>
    {% for user in users %}
        <li>{{ loop.index }}. {{ user.name }} :: {{ user.email }} :: {{ user.created|date('Y-m-d H:i:s') }} :: {{ user.updated|date('Y-m-d H:i:s') }}</li>
    {% else %}
        <li>No Records!</li>
    {% endfor %}
    </ul>
{% endblock body %}