{% extends '::base.html.twig' %}

{% block body %}
    <a class="btn btn-sm btn-success" href="{{ path('zelazowy_memcached_new') }}">Dodaj</a>

    <table class="table table-hover table-bordered">
    {% for user in users %}
        <tr>
            <td>{{ loop.index }}.</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created|date('Y-m-d H:i:s') }}</td>
            <td>{{ user.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No Records!</td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}